img .photo{
    object-fit: contain;
}

div.description{
    text-align: center;
}

p.prix{
    font-weight: bold;
}

.nom{
    font-size: 1.5em;
}

strong.ref{
    text-decoration: underline;
}


input:invalid:focus{
    border: 1px solid red;
}

input:valid:focus{
    border: 1px solid green;
}

label{
    font-weight: bolder;
}

main.position{
    position : relative;
}

footer.positionfooter{
    position : fixed;
    bottom :0;
}

