img .photo{
    object-fit: contain;
}

div.description{
    text-align: center;
}

p.prix{
    font-weight: bold;
}

.nom{
    font-size: 1.5em;
}

strong.ref{
    text-decoration: underline;
}

div.misepage{
    padding : 10%;
}